body {

	font-family: $Lora;
	font-size:16px;
	line-height:1.5;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;

	position:relative;
}

h1,h2,h3,h4,h5 {

	font-family: $SourceSans;
	font-weight: 900;
	line-height: 1.25;
}

#site-title {

	font-size: 2rem;
	font-weight: 200;

}
h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
	letter-spacing: 1px;
	margin: 0 0 1.5rem;
}

h3 {

	font-size: 1.5rem;
	line-height: 1.333;
	font-weight: 700;
	text-decoration: underline;
}

p {
	margin-bottom: 1rem;
}


a {
	color:$white;
	 transition: 0.3s;
	&:hover {font-size:130%;}
}

.white{color: white}
.center{text-align: center}

.block {display: block}
.title-flex {
	flex:100%;
		&:before{
		content: "";
			padding:0 .25rem;
			background:$link;
			margin-right: .5rem;
	}
}
