
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700|Source+Sans+Pro:200,700,900');

//variables
*{box-sizing: border-box;}

//Fonts
$Lora: 'Lora', serif;
$SourceSans: 'Source Sans Pro', Helvetica, sans-serif;


//Colors
$text: #333333;
$link: #E87345;
$light: #9B9B9B;
$white: #FFFFFF;


//Imports
@import 'reset';
@import 'typography';
@import 'grid';
@import 'vars';
@import 'modules';



.portfolio{

	margin: 0rem auto;

}
