.container, .container--flex, .row, .container--flex0 {
  max-width: 80rem;
  margin: 0 auto; }
  .container--flex, .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .container--flex0 {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }

.row--spaced {
  margin-bottom: 2rem; }
  @media only screen and (min-width: 768px) {
    .row--spaced {
      margin-bottom: 4rem; } }
  @media only screen and (min-width: 1024px) {
    .row--spaced {
      margin-bottom: 6rem; } }

.lrg, .med, .sml, .x-sml {
  padding: 0 1rem; }

.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%; }

.col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%; }

.offset {
  margin-left: 50%; }

@media only screen and (min-width: 768px) {
  .med--col-8 {
    padding: 0 1rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .med--col-7 {
    padding: 0 1rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 87.50%;
    flex: 0 0 87.50%;
    max-width: 87.50%; }
  .med--col-6 {
    padding: 0 1rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .med--col-5 {
    padding: 0 1rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 62.5%;
    flex: 0 0 62.5%;
    max-width: 62.50%; }
  .med--col-4 {
    padding: 0 1rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .med--col-3 {
    padding: 0 1rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 37.5%;
    flex: 0 0 37.5%;
    max-width: 37.5%; }
  .med--col-2 {
    padding: 0 1rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .med--col-1 {
    padding: 0 1rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%; }
  .med--offset-8 {
    padding: 0 1rem;
    margin-left: 100%; }
  .med--offset-7 {
    padding: 0 1rem;
    margin-left: 87.50%; }
  .med--offset-6 {
    padding: 0 1rem;
    margin-left: 75%; }
  .med--offset-5 {
    padding: 0 1rem;
    margin-left: 62.5%; }
  .med--offset-4 {
    padding: 0 1rem;
    margin-left: 50%; }
  .med--offset-3 {
    padding: 0 1rem;
    margin-left: 37.5%; }
  .med--offset-2 {
    padding: 0 1rem;
    margin-left: 25%; }
  .med--offset-1 {
    padding: 0 1rem;
    margin-left: 12.5%; } }

@media only screen and (min-width: 1024px) {
  .lrg--col-12 {
    padding: 0 1rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .lrg--col-11 {
    padding: 0 1rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.667%;
    flex: 0 0 91.667%;
    max-width: 91.667%; }
  .lrg--col-10 {
    padding: 0 1rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333%;
    flex: 0 0 83.333%;
    max-width: 83.33%; }
  .lrg--col-9 {
    padding: 0 1rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .lrg--col-8 {
    padding: 0 1rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.667%;
    flex: 0 0 66.667%;
    max-width: 66.667%; }
  .lrg--col-7 {
    padding: 0 1rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333%;
    flex: 0 0 58.333%;
    max-width: 58.333%; }
  .lrg--col-6 {
    padding: 0 1rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .lrg--col-5 {
    padding: 0 1rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.667%;
    flex: 0 0 41.667%;
    max-width: 41.67%; }
  .lrg--col-4 {
    padding: 0 1rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333%;
    flex: 0 0 33.333%;
    max-width: 33.333%; }
  .lrg--col-3 {
    padding: 0 1rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .lrg--col-2 {
    padding: 0 1rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.667%;
    flex: 0 0 16.667%;
    max-width: 16.667%; }
  .lrg--col-1 {
    padding: 0 1rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333%;
    flex: 0 0 8.333%;
    max-width: 8.333%; }
  .lrg--offset-12 {
    padding: 0 1rem;
    margin-left: 100% !important; }
  .lrg--offset-11 {
    padding: 0 1rem;
    margin-left: 91.667% !important; }
  .lrg--offset-10 {
    padding: 0 1rem;
    margin-left: 83.333% !important; }
  .lrg--offset-9 {
    padding: 0 1rem;
    margin-left: 75% !important; }
  .lrg--offset-8 {
    padding: 0 1rem;
    margin-left: 66.667% !important; }
  .lrg--offset-7 {
    padding: 0 1rem;
    margin-left: 58.333% !important; }
  .lrg--offset-6 {
    padding: 0 1rem;
    margin-left: 50% !important; }
  .lrg--offset-5 {
    padding: 0 1rem;
    margin-left: 41.667% !important; }
  .lrg--offset-4 {
    padding: 0 1rem;
    margin-left: 33.333% !important; }
  .lrg--offset-3 {
    padding: 0 1rem;
    margin-left: 25% !important; }
  .lrg--offset-2 {
    padding: 0 1rem;
    margin-left: 16.667% !important; }
  .lrg--offset-1 {
    padding: 0 1rem;
    margin-left: 8.333% !important; } }

@media only screen and (min-width: 1400px) {
  .xlrg--col-12 {
    padding: 0 1rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .xlrg--col-11 {
    padding: 0 1rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.667%;
    flex: 0 0 91.667%;
    max-width: 91.667%; }
  .xlrg--col-10 {
    padding: 0 1rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333%;
    flex: 0 0 83.333%;
    max-width: 83.33%; }
  .xlrg--col-9 {
    padding: 0 1rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .xlrg--col-8 {
    padding: 0 1rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.667%;
    flex: 0 0 66.667%;
    max-width: 66.667%; }
  .xlrg--col-7 {
    padding: 0 1rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333%;
    flex: 0 0 58.333%;
    max-width: 58.333%; }
  .xlrg--col-6 {
    padding: 0 1rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .xlrg--col-5 {
    padding: 0 1rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.667%;
    flex: 0 0 41.667%;
    max-width: 41.67%; }
  .xlrg--col-4 {
    padding: 0 1rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333%;
    flex: 0 0 33.333%;
    max-width: 33.333%; }
  .xlrg--col-3 {
    padding: 0 1rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .xlrg--col-2 {
    padding: 0 1rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.667%;
    flex: 0 0 16.667%;
    max-width: 16.667%; }
  .xlrg--col-1 {
    padding: 0 1rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333%;
    flex: 0 0 8.333%;
    max-width: 8.333%; }
  .xlrg--offset-12 {
    padding: 0 1rem;
    margin-left: 100% !important; }
  .xlrg--offset-11 {
    padding: 0 1rem;
    margin-left: 91.667% !important; }
  .xlrg--offset-10 {
    padding: 0 1rem;
    margin-left: 83.333% !important; }
  .xlrg--offset-9 {
    padding: 0 1rem;
    margin-left: 75% !important; }
  .xlrg--offset-8 {
    padding: 0 1rem;
    margin-left: 66.667% !important; }
  .xlrg--offset-7 {
    padding: 0 1rem;
    margin-left: 58.333% !important; }
  .xlrg--offset-6 {
    padding: 0 1rem;
    margin-left: 50% !important; }
  .xlrg--offset-5 {
    padding: 0 1rem;
    margin-left: 41.667% !important; }
  .xlrg--offset-4 {
    padding: 0 1rem;
    margin-left: 33.333% !important; }
  .xlrg--offset-3 {
    padding: 0 1rem;
    margin-left: 25% !important; }
  .xlrg--offset-2 {
    padding: 0 1rem;
    margin-left: 16.667% !important; }
  .xlrg--offset-1 {
    padding: 0 1rem;
    margin-left: 8.333% !important; } }
