 n

@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700|Source+Sans+Pro:200,700,900');

//variables
*{box-sizing: border-box;}

//Fonts
$Lora: 'Lora', serif;
$SourceSans: 'Source Sans Pro', Helvetica, sans-serif;


//Colors
$text: #333333;
$link: #E87345;
$light: #9B9B9B;
$white: #FFFFFF;


//Imports
@import 'reset';
@import 'typography';
@import 'grid';
@import 'vars';
@import 'modules';


.contact-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    padding-top: 3rem;
    margin-top: 6rem;
   
   /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

}


.header-background {

	background: url(../images/face3.jpg);
	opacity:0;
    animation: pop-in 2.0s ease-out forwards;
    animation-delay: 2.0s; 
	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 280px 20px;
	padding: 2rem 1rem;
	@media #{$med} {
		padding: 0 1rem 8rem;

	}

}

#header-logo {
	width:40px; 
	height:50px;
	display: flex;
	margin-right: 2rem;
	

}
.header {

	@media #{$med} {

		&__container{
		
			display: flex;
			justify-content: flex-center;
			padding: 2rem 1 3rem;

      	}

		&__title{display: none
		}

		&--sticky{
		position:fixed;
		z-index: 999;
		top: 0;
		left:0;
		width:100%;
		background: white;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		.header {
			&__container{

				padding: 1rem;
				justify-content: space-between;
				align-items: center;
			}
			&__title {display: block}
			}

		}

    }

}


#header-buttons {
	display: block;
	
	width: 100%;
	position: relative;
	bottom: 0;
	margin-right: 2rem;
	z-index: 999;

	@media #{$med} {
		position: relative;
		width: 13rem;
		height: auto;

		
	}
}



.hero{
	
	padding: 2rem 1.5rem;

	&__headline {

		font-size: 2rem;
		margin-bottom: 1rem;



}
.animate-pop-in {
opacity:0;
  animation: pop-in 2.0s ease-out forwards;
  animation-delay: 3.0s;
}

/* Animations */

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translatex(-8rem) scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}



@media #{$med} {

	padding: 9rem 0 7rem;	
}


}

.portfolio{
	
	margin: 0rem auto;
	

}

.portfolio-piece{

	padding: 1rem;
	width:100%;
	height: calc(24rem -2rem);
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	text-align: center;
	display:flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 2rem;
	&:last-child {margin-bottom:0}
	&:hover {
		background: darken(red, 10%);
	}
	&__title {
	
		margin-bottom: .5rem;
		text-decoration: none;

	}
	&__title, &__tags {
		
		text-shadow: 0 2px 2px rgba(0,0,0,0.6);
	}
	@media #{$med}{
		margin-bottom: 0;

	}
	@media #{$lrg}{
		height: calc(32rem - 2rem);

	}


}


#other-works{

	background: url(../images/blogbg.jpeg);
	background-size: cover;
	background-position: right;
	background-repeat: no-repeat;
	padding: 2rem 0;
	margin-bottom: 0;
	@media #{$med} {padding: 4rem 0}
	@media #{$lrg} {
		background-position: top 15% right;
		padding: 4rem 0}
}

.other-workslist{

	margin: 0rem auto;


}


.other-works{

	&__aticle-title{
		margin-top: 2rem;
		&:first-child{margin-top: 1.5rem}
	}
	&__article-link {color: $text}
	@media #{$med} {
		&__article-title {max-width: 26rem}
	}
}

gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 5px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {

    padding: 0 6px;
    float: center;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 100%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table-row;
    clear: both;
}
.contact {

	background: $text;
	color: white;
	padding: 4rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-flow: column nowrap;
	&__social {
		margin-bottom: 2rem;
	}
	&__button {
		max-width: 18rem;

	}
}
.social {
display: flex;
justify-content: center;

	&__button {

		 margin:0 1rem;
	 	font-size: 1.5rem;
	 	color: white;

		transition: all .25s ease-in-out; 

	 	&:hover {color: $link}

}
}


.footer-list {
	color: $light;
	font-size: .875rem;
	margin:4rem 0 4rem;

	&__item {
		display: inline-block;
		margin-right: .5rem;
		&:after {
			content: "|";
			margin-left: .5rem;

		};
		&last-child {
			&after {content: none}
		}
	}
}
#contact-me {
	display: block;
	padding: 1rem 0;
	width: 100%;

	position: center fixed;
	bottom: 0;
	left:0;
	z-index: 999;

	@media #{$med} {
		position: relative;
		width: 13rem;
		height: auto;
		
	}
}